<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/#!/home">
        <img src="assets/images/sv.png" alt="logo" style="width:40px;">
        <span class="brandname">Pipedrive API</span>
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link stats" href="/#!/nearest">Get Nearest Org</a>
        </li>
        <li class="nav-item">
            <a class="nav-link stats" href="/#!/create">Create New Org</a>
        </li>
        <li class="nav-item">
            <a class="nav-link author" href="/#!/">By pawan</a>
        </li>
    </ul>
</nav>